beautifulsoup4
bootstrap4
certifi
chardet
Django
django-appconf
django-autocomplete-light
django-bootstrap-datepicker-plus
django-bootstrap4
django-countries
django-crispy-forms
django-cruds-adminlte
django-image-cropping
django-modeltranslation
django-rosetta
django-settings-export
django-taggit
django-userforeignkey
djangoajax
djangorestframework
easy-thumbnails
html5lib
idna
isort
lazy-object-proxy==1.4.*
mccabe
pep8
Pillow
pipenv
polib
psycopg2-binary
pycodestyle
pylint
pylint-django
pylint-plugin-utils
PyPDF2
pytz
reportlab
requests
six
soupsieve
sqlparse
typed-ast
urllib3
virtualenv
virtualenv-clone
webencodings
wrapt
xhtml2pdf
django-utils-six
